
@import "variables";

#map {
	&.cusMap01 {
		.map-cell {
			border-color: transparentize($color: whitesmoke, $amount: 0.75);
			border-radius: 0.25em;
			margin: 0.125em;

			&.tiled {
				background-color: $b;
			}

			&.exit {
				background: none;
			}

			&.player {
				border-color: cornflowerblue;

				&::before, &::after {
					background-color: transparentize($color: cornflowerblue, $amount: 0.5);
				}
			}

			&.invisible {
				border-color: transparent;
				background: none;
			}
		}
	}
}
