
@import "variables";

@font-face {
	font-family: "NotoEmoji";
	src: url("media/fonts/NotoEmoji-regular.ttf");
}

.emoji {
  font-family: "NotoEmoji";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
	vertical-align: middle;
}
